<div vertical layout fit>
  <div class="card-container text-center" flex relative vertical layout>
    
    <div ng-show="{{cards.length <= 0}}" vertical layout center flex>
      <div flex horizontal layout center>
        <div class="load">
          <img src="{{ImgList[0].src}}" alt="" class="thumb-lg rounded b b-5x b-light box-shadow">
        </div>
      </div>
      <div class="text-muted text-center l-h" ng-show="cards.length <= 0">
        Estamos procurando algumas pessoas...
        <br>
        Use as configurações para gerenciar quem você verá.
      </div>
    </div>

    <td-cards fit>
      <td-card ng-repeat="card in cards"
               on-destroy="cardNope($index)"
               on-swipe-left="cardSwipedLeft($event, $index)"
               on-swipe-right="cardSwipedRight($event, $index)"
               on-partial-swipe="cardPartialSwipe(amt)"
               on-transition-left="transitionLeft(card)"
               on-transition-right="transitionRight(card)"
               on-transition-out="transitionOut(card)"
               class="card-{{$index}}"
               ng-style="{'z-index': cards.length - $index + 1}"><!-- Work around for The z-index missing issue-->
        <div class="card-tinder bg-white" vertical layout ng-click="openFeedProfModal()">
          <div flex class="div-img m-b-xs" ng-style="{'background-image': 'url(\'' + card.image[0].url + '\')'}"></div>
          <div class="row caption text-lg l-h">
            <div class="col-80 text-left">
              <div class="text-lg">{{card.name}} {{card.lastname}}, {{card.age}}</div>
              <div class="text-muted text-md">{{card.job}}, {{card.work}}</div>
            </div>
          </div>
          <div class="no-text" ng-style="{'opacity':'\''+isMoveLeft+'\''}">
            <span class="wrapper-xs b b-danger b-5x r-3x assertive font-bold text-3x">NÃO</span>
          </div>
          <div class="yes-text"ng-style="{'opacity':'\''+isMoveRight+'\''}">
            <span class="wrapper-xs b b-success b-5x r-3x balanced font-bold text-3x">SIM</span>
          </div>
        </div>
      </td-card>
    </td-cards>
  </div>

  <div class="card-actions padder-v" horizontal layout around-justified center>
    <div class="card-action bigger-button">
      <button class="button button-large button-light rounded" ng-class="{zoom: isMoveLeft}" ng-click="cardNope(0)">
        <i class="icon ion-close-round text-2x rounded" ng-class="cards.length <= 0 ? 'stable' : 'assertive'"></i>
      </button>
    </div>
    <div class="card-action">
      <button class="button button-light rounded" ng-click="cardBeer(0)">
        <i class="icon ion-beer text-2x rounded" ng-class="cards.length <= 0 ? 'stable' : 'royal'"></i>
      </button>
    </div>
    <div class="card-action bigger-button">
      <button class="button button-large button-light rounded" ng-class="{zoom: isMoveRight}" ng-click="cardYep(0)">
        <i class="icon ion-heart text-2x rounded" ng-class="cards.length <= 0 ? 'stable' : 'balanced'"></i>
      </button>
    </div>
  </div>
</div>
