<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear" nav-direction="back" ui-sref="home.settings">
      <i class="icon ion-person"></i>
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-clear" nav-direction="forward" ng-click="$state.go('home.matches')">
      <i class="icon ion-chatbubbles"></i>
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    <div class="tinder-toggle">
      <div ng-class="{'active': explore.toggle == 0}" ng-click="explore.toggle = 0"><i class="icon ion-fireball text-xl"></i></div>
    </div>
  </ion-nav-title>

  <ion-content scroll="false" class="bg-gd">
    <div ng-show="explore.toggle == 0" ng-include="'templates/home/explore_single.html'"></div>
  </ion-content>
</ion-view>
