<ion-view title="Matchs">
  <ion-nav-buttons side="left">
    <button class="button button-clear" nav-direction="back" ui-sref="home.explore">
      <i class="icon ion-fireball"></i>
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    <button class="button button-clear button-assertive m-t-xs">
      <i class="icon ion-chatbubbles"></i>
    </button>
  </ion-nav-title>

  <ion-content class="has-subheader">
    <div class="b-b b-light wrapper">
      <div class="m-b-md font-bold text-u-c assertive">Novos Matches:</div>
      <!-- New Matchs List -->
      <ion-scroll direction="x" class="scroll-horizontal wrapper-xs">
        <ion-label ng-show="newmatches.length == 0">Nenhum Match Ainda!</ion-label>
        <div class="text-center scroll-item m-r-sm pos-rlt" ng-repeat="user in newmatches" nav-direction="forward" ui-sref="home.messaging({id: user.id, isNew: true, Message: ''})">
          <img ng-src="{{user.url}}" alt="" class="thumb-md rounded">
          <div class="font-bold">{{user.name}}</div>
          <span class="dot-notification on-avatar" ng-show="{{user.new}}"></span>
        </div>
      </ion-scroll>
    </div>
    <!-- Message Groups -->
    <div>
      <div class="wrapper font-bold text-u-c assertive">Mensagens:</div>
      <div>
        <ion-scroll direction="x" class="scroll-vertical wrapper-xs">
          <ion-label ng-show="groups.length == 0">Nenhuma Mensagem Ainda!</ion-label>
          <div class="clear m-b-sm" ng-repeat="item in groups" nav-direction="forward" ui-sref="home.messaging({id: item.groupid, isNew: false, Message: ''})">
            <img ng-src="{{item.url}}" alt="" class="thumb-md rounded pull-left m-l m-r-md">
            <div class="text-lg b-b b-light clear padder-v">
              <div class="text-c">{{item.name}}</div>
              <p class="text-muted text-sm">{{item.lastmessage}}</p>
            </div>
          </div>
        </ion-scroll>
      </div>
    </div>
  </ion-content>
</ion-view>
