<ion-view title="Messages" class="has-giphy" ng-class="{'show-gif': false}">
  <ion-nav-buttons side="left">
    <button class="button button-clear" nav-direction="back" ng-click="$state.go('home.matches')">
      <i class="icon ion-arrow-left-c assertive"></i>
    </button>
  </ion-nav-buttons>

  <ion-nav-title style="margin-left: -49px">
    <div class="thumb-xs rounded">
      <img src="{{user.url}}" class="thumb-xs rounded" alt="">
      {{user.name}}
    </div>
  </ion-nav-title>

  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="showUserOptions()">
      <i class="icon ion-more assertive"></i>
    </button>
  </ion-nav-buttons>

  <ion-content delegate-handle="userMessageScroll" overflow-scroll="true" scrollY="true">
    <div class="wrapper text-center m-t-md" ng-if="isnew">
      <div class="text-lg">Você deu Match com <span class="font-bold">{{user.name}}</span></div>
      <div class="thumb-xxl rounded">
        <img src="{{user.url}}" class="thumb-xxl rounded" alt="">
      </div>
      <div class="text-lg font-thin">Diga oi!</div>
    </div>

    <div class="" ng-if="!isnew">
      <!-- Chat bubbles -->
      <div class="list chat-bubble">
        <div class="timestamp" ng-repeat-start="item in messages">{{item.timestamp}}</div>

        <div class="item item-avatar b-none" ng-class="item.isMe ? 'eu' : user.name" href="#" ng-repeat-end>

          <img ng-src="{{item.avatar}}" ng-if="!item.isMe">
          <div class="bubble" ng-class="{'bubble-image': item.type == 'image'}">
            <span class="content blue" ng-show="item.isMe">
              <i class="icon-tail" style="right:0"></i>
              <span class="content" ng-if="item.type !== 'image'" ng-bind-html="item.body | nl2br">
              </span>
            </span>
            <span class="content red" ng-show="!item.isMe">
              <i class="icon-tail" style="left:0"></i>
              <span class="content" ng-if="item.type !== 'image'" ng-bind-html="item.body | nl2br">
              </span>
            </span>
            <img ng-src="{{item.body}}" ng-if="item.type == 'image'">
            <i class="icon ion-ios-heart-outline heart text-muted text-2x" ng-if="!item.isMe && item.type == 'image'"></i>
          </div>
          <span class="message-status" ng-if="item.isMe">Enviado</span>
        </div>
      </div>
    </div>
  </ion-content>

  <ion-footer-bar class="bar-light item-input-inset" keyboard-attach elastic>
    <!--<div class="footer-btn-wrap">
    <button type="button" class="button button-clear button-assertive footer-btn" ng-click="openCalendar()">
      <i class="icon ion-calendar"></i>
    </button>
  </div>-->
    <label class="item-input-wrapper no-bg">
      <textarea rows="1" msd-elastic placeholder="Mensagem" id="type-area" ng-model="message"></textarea>
    </label>
    <div class="footer-btn-wrap">
      <button type=submit class="button button-clear footer-btn" ng-click="setmessages(message)" ng-disabled="message.length == 0">
        <i class="icon ion-android-send"></i>
      </button>
    </div>
  </ion-footer-bar>
</ion-view>
