<ion-view>
  <ion-nav-title>
    <button class="button button-clear button-assertive m-t-xs">
      <i class="icon ion-person"></i>
    </button>
  </ion-nav-title>

  <ion-nav-buttons side="right">
    <button class="button button-clear" nav-direction="forward" ui-sref="home.explore">
      <i class="icon ion-fireball"></i>
    </button>
  </ion-nav-buttons>

  <ion-content class="stable-bg">
    <div class="light-bg">
      <div class="wrapper text-center">
        <div class="pos-rlt">
          <img src="{{ImgList[0].src}}" alt="" class="thumb-xxl rounded" ng-click="openProfileModal()">
          <i class="icon ion-edit button-edit bg-colorful box-shadow light text-xl rounded" ng-click="openEditProfileModal()"></i>
        </div>
        <div class="wrapper-xs text-center">
          <div class="text-xl m-b-xs">{{name}}</div>
          <div class="text-muted">{{job}}</div>
        </div>
      </div>

      <div class="row no-padder">
        <div class="col no-padder text-center">
          <button class="button button-clear button-assertive" ng-click="openEditProfileModal()"><span class="text-sm">Editar Perfil</span></button>
        </div>
        <div class="col no-padder text-center">
          <button class="button button-clear button-assertive" ng-click="openSettingsModal()"><span class="text-sm">Configurações</span></button>
        </div>
      </div>
    </div>

    <div class="wrapper text-center">
      <h3>Vai sair hoje?</h3>
      <p class="text-muted">Vá ao Crush Bar e tenha mais chances!</p>
      <div class="padder">
        <button class="button bg-colorful rounded button-block" ui-sref="home.explore">Vou ao Crush Bar hoje!</button>
      </div>
    </div>
  </ion-content>
</ion-view>
