<ion-modal-view>
  <ion-content class="profile">
    <div class="header-bar-transparent" horizontal layout justified>
      <button class="" ng-click="closeFeedProfModal()">
        <i class="icon ion-arrow-down-b"></i>
      </button>
    </div>

    <ion-slide-box class="profile-slide">
      <ion-slide ng-repeat="img in cards[0].image">
        <div class="image" ng-style="{'background-image': 'url(\'' + img.url + '\')'}"></div>
      </ion-slide>
    </ion-slide-box>

    <div class="wrapper b-b b-light">
      <div class="text-xl">
        <span class="font-bold">{{cards[0].name}} {{cards[0].lastname}}</span>, {{cards[0].age}}
      </div>
      <div class="text-muted">
        <p>{{cards[0].job}}</p>
        <p>{{cards[0].work}}</p>
        <p>{{cards[0].school}}</p>
      </div>
    </div>

    <div class="wrapper b-b b-light text-muted text-md">
      {{cards[0].bio}}
    </div>

  </ion-content>

  <div class="card-actions padder-v on-profile bg-gd" horizontal layout around-justified center>
    <div class="card-action no-padder">
      <button class="button button-assertive rounded" ng-class="{zoom: true}" ng-click="cardNope(0)">
        <i class="icon ion-close-round text-2x rounded"></i>
      </button>
    </div>
    <div class="card-action no-padder">
      <button class="button button-calm rounded" ng-click="cardBeer(0)">
        <i class="icon ion-beer text-2x rounded"></i>
      </button>
    </div>
    <div class="card-action no-padder">
      <button class="button button-balanced rounded" ng-class="{zoom: isMoveRight}" ng-click="cardYep(0)">
        <i class="icon ion-heart text-2x rounded"></i>
      </button>
    </div>
    
  </div>
</ion-modal-view>
