<ion-modal-view>
  <!-- Ion Header -->
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <button class="button button-clear button-assertive" ng-click="closeLoginFormModal()">Sair</button>
  </ion-header-bar>
  <!-- /Ion Header -->

  <!-- Ion Content -->
  <ion-content ng-controller="SignupCtrl">
    <div class="list m-n">
      <!-- Email -->
      <div class="item" horizontal layout center>
        <div class="row no-padder">
          <div class="col-40">
            E-mail
          </div>
          <div class="col-60 text-right text-muted">
            <input ng-model="loginemail" required type="text" class="ng-valid ng-touched ng-dirty" style="width:100%; border-bottom:ridge" />
          </div>
        </div>
      </div>
      <!-- /Email -->
      <!-- Password -->
      <div class="item item-divider b-none"></div>
      <div class="item" horizontal layout center>
        <div class="row no-padder">
          <div class="col-40">
            Senha
          </div>
          <div class="col-60 text-right text-muted">
            <input ng-model="loginpass" required type="password" class="ng-valid ng-touched ng-dirty" style="width:100%; border-bottom:ridge" />
          </div>
        </div>
      </div>
      <!-- /Password -->
      <div class="wrapper">
        <button class="button button-block button-assertive" ng-click="LoginForm(loginemail, loginpass)">Entrar</button>
      </div> <!-- /wrapper-->
    </div><!-- /list -->
  </ion-content>
  <!-- /Ion Content -->
</ion-modal-view>
