<ion-modal-view class="bg-match color-white">
  <ion-content class="text-center" scroll="false" vertical layout justified>
    <div class="wrapper">
      <div class="wrapper-xs m-t-xl">
        <div class="img-full img rounded">
          <img src="img/match.png" class="thumb img rounded" alt="">
        </div>
      </div>
      <div class="wrapper">Você e {{matchcard.name}} deram Match!</div>
      <div class="thumb-xl rounded m-r">
        <img src="{{ImgList[0].src}}" class="thumb-xl rounded b b-white b-3x" alt="">
      </div>
      <div class="thumb-xl rounded">
        <img src="{{matchcard.image[0].url}}" class="thumb-xl rounded b b-white b-3x" alt="">
      </div>
    </div>
    <div class="wrapper">
      <div class="wrapper">
        <button class="button button-block b-none rounded bg-colorful" ng-click="closeMatchModal()" ui-sref="home.messaging({id: matchcard.id, isNew: true, Message: here_im})">
          <i class="icon ion-flame"></i>
          Estou no Crush Bar
        </button>
      </div>
      <button class="button button-block button-clear m-t-lg" ng-click="closeMatchModal()">
        <i class="icon ion-android-done-all"></i>
        Continue Deslizando
      </button>
    </div>
  </ion-content>
</ion-modal-view>
