<ion-modal-view class="bg-muted">
  <ion-header-bar>
    <h1 class="title">Editar Perfil</h1>
    <button class="button button-clear button-assertive" ng-click="closeEditProfileModal()">Voltar</button>
  </ion-header-bar>
  <ion-content class="profile" ng-controller="SettingsCtrl">
    <!-- Photos -->
    <div class="photos">
      <div class="row">
        <!-- Profile Photos -->
        <div class="col col-66">
          <div class="photo-pickable">
            <img ng-src="{{ImgList[0].src}}" class="w-full r-3x" alt="">
            <i class="{{ImgList[0].icon}}" ng-click="profpick()"></i>
          </div>
        </div>
        <!-- /Profile Photos -->
        <!-- Any Photos -->
        <div class="col col-33">
          <div class="photo-pickable">
            <img ng-src="{{ImgList[1].src}}" class="w-full r-3x" alt="">
            <i class="{{ImgList[1].icon}}" ng-click="pick(1)"></i>
          </div>
          <div class="photo-pickable">
            <img ng-src="{{ImgList[2].src}}" class="w-full r-3x" alt="">
            <i class="{{ImgList[2].icon}}" ng-click="pick(2)"></i>
          </div>
        </div>
        <!-- /Any Photos -->
      </div>
      <div class="row">
        <!-- Any Photos -->
        <div class="col col-33" ">
          <div class="photo-pickable">
            <img ng-src="{{ImgList[3].src}}" class="w-full r-3x" alt="">
            <i class="{{ImgList[3].icon}}" ng-click="pick(3)"></i>
          </div>
        </div>
        <div class="col col-33" ">
          <div class="photo-pickable">
            <img ng-src="{{ImgList[4].src}}" class="w-full r-3x" alt="">
            <i class="{{ImgList[4].icon}}" ng-click="pick(4)"></i>
          </div>
        </div>
        <div class="col col-33" ">
          <div class="photo-pickable">
            <img ng-src="{{ImgList[5].src}}" class="w-full r-3x" alt="">
            <i class="{{ImgList[5].icon}}" ng-click="pick(5)"></i>
          </div>
        </div>
        <!-- /Any Photos -->
      </div>
    </div>
    <!-- /Photos -->
    <!-- Profile -->
    <div class="list m-n">
      <div class="item item-divider b-none"></div>
      <div class="item item-divider b-none">Perfil</div>
      <!-- Name -->
      <div class="item" horizontal layout center>
        <div class="row no-padder">
          <div class="col-40">
            Nome
          </div>
          <div class="col-60 text-right text-muted">
            <input ng-model="name" ng-change="updhttpconf('name', name)" maxlength="20" type="text" placeholder="Nome" class="ng-valid ng-touched ng-dirty" style="width:100%; border-bottom:ridge" />
          </div>
        </div>
      </div>
      <!-- /Name -->
      <!-- LastName -->
      <div class="item" horizontal layout center>
        <div class="row no-padder">
          <div class="col-40">
            Sobrenome
          </div>
          <div class="col-60 text-right text-muted">
            <input ng-model="lastname" ng-change="updhttpconf('lastname', lastname)" maxlength="20" type="text" placeholder="Sobrenome" class="ng-valid ng-touched ng-dirty" style="width:100%; border-bottom:ridge" value="" />
          </div>
        </div>
      </div>
      <!-- /LastName -->
    </div>
    <!-- /Profile -->
    <div class="list m-n">
      <div class="item item-divider b-none"></div>
      <div class="item item-divider b-none">Sobre</div>
      <div class="item" horizontal layout center>
        <textarea ng-model="bio" ng-change="updhttpconf('bio', bio)" maxlength="500" placeholder="Escreva algo legal sobre você" rows="4" cols="50" class="ng-valid ng-touched ng-dirty" style="width:100%; border-bottom:ridge" />
      </div>
    </div>
    <div class="list m-n">
      <div class="item item-divider b-none"></div>
      <div class="item item-divider b-none">Trabalho</div>
      <div class="item" horizontal layout center>
        <div class="row no-padder">
          <div class="col-40">
            Cargo
          </div>
          <div class="col-60 text-right text-muted">
            <input ng-model="job" ng-change="updhttpconf('job', job)" maxlength="50" type="text" placeholder="Meu Cargo" class="ng-valid ng-touched ng-dirty" style="width:100%; border-bottom:ridge" value="" />
          </div>
        </div>
      </div>
      <div class="item" horizontal layout center>
        <div class="row no-padder">
          <div class="col-40">
            Empresa
          </div>
          <div class="col-60 text-right text-muted">
            <input ng-model="work" ng-change="updhttpconf('work', work)" maxlength="50" type="text" placeholder="Na Empresa.." class="ng-valid ng-touched ng-dirty" style="width:100%; border-bottom:ridge" value="" />
          </div>
        </div>
      </div>
    </div>
    <div class="list m-n">
      <div class="item item-divider b-none"></div>
      <div class="item item-divider b-none">Escolaridade</div>
      <div class="item">
        <input ng-model="school" ng-change="updhttpconf('school', school)" maxlength="50" type="text" placeholder="Minha Escolaridade" class="ng-valid ng-touched ng-dirty" style="width:100%; border-bottom:ridge" value="" />
      </div>
    </div>
    <div class="list m-n">
      <div class="item item-divider b-none"></div>
      <div class="item item-divider b-none">Meu Instagram</div>
      <div class="item assertive">
        {{insta}}
      </div>
    </div>
    <div class="item item-divider b-none"></div>
  </ion-content>
</ion-modal-view>
