<ion-modal-view>
  <ion-content class="profile" ng-controller="SettingsCtrl">
    <div class="header-bar-transparent" horizontal layout justified>
      <button class="" ng-click="closeProfileModal()">
        <i class="icon ion-arrow-down-b"></i>
      </button>
      
      <button class="" ng-click="closeProfileModal();openEditProfileModal()">
        Editar
      </button>
    </div>

    <ion-slide-box class="profile-slide">
      <ion-slide ng-repeat="item in ProfList">
        <div class="image" ng-style="{'background-image': 'url(\'' + item.src + '\')'}"></div>
      </ion-slide>
    </ion-slide-box>

    <div class="wrapper b-b b-light">
      <div class="text-xl">
        <span class="font-bold">{{name}} {{lastname}}</span>, {{age}}
      </div>
      <div class="text-muted">
        <p>{{job}}</p>
        <p>{{work}}</p>
        <p>{{school}}</p>
      </div>
    </div>

    <div class="wrapper b-b b-light text-muted text-md">
      {{bio}}
    </div>

  </ion-content>
</ion-modal-view>
