<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Configurações</h1>
    <button class="button button-clear button-assertive" ng-click="closeSettingsModal()">Voltar</button>
  </ion-header-bar>

  <ion-content>
    <div class="list m-n">
      <div class="item item-divider b-none"></div>
      <div class="item item-divider b-none text-u-c text-muted text-sm">Configurações Básicas</div>
      <div class="item b-t" horizontal layout center>
        <div class="row no-padder">
          <div class="col-40">
            Sou
          </div>
          <div class="col-60 text-right text-muted">
            <ion-toggle ng-repeat="item in GenderList"
                        ng-model="item.checked"
                        ng-checked="item.checked" ng-change="GenderChange(item)" color="danger">
              {{ item.text }}
            </ion-toggle>
          </div>
        </div>
      </div>
      <div class="item" horizontal layout center>
        <div class="row no-padder">
          <div class="col-40">
            Busco
          </div>
          <div class="col-60 text-right text-muted item-select">
            <ion-toggle ng-model="choicewoman" ng-change="updhttpconf('choicewoman', choicewoman)">Mulher</ion-toggle>
            <ion-toggle ng-model="choiceman" ng-change="updhttpconf('choiceman', choiceman)">Homem</ion-toggle>
          </div>
        </div>
      </div>
      <div class="item" horizontal layout center>
        <div class="col-40">
          Idade
        </div>
        <div class="col-60 text-right text-muted range">
          <ion-label style="width: 0;margin-left: -10px;">{{barProgressMin}}</ion-label>
          <input type="range" on-drag="onMin($event)" ng-model="barProgressMin" min="18" max="122" style="position:absolute" />
          <input type="range" on-drag="onMax($event)" ng-model="barProgressMax" min="18" max="122" style="position:absolute" />
          <ion-label style="width: 100%;">{{barProgressMax}}</ion-label>
        </div>
      </div>
    </div>
    <!-- Profile -->
    <div class="list m-n">
      <div class="item item-divider b-none"></div>
      <div class="item item-divider b-none text-u-c text-muted text-sm">Perfil</div>
      <div class="item" horizontal layout center>
        <div class="row no-padder">
          <div class="col-40">
            Minha Idade
          </div>
          <div class="col-60 text-right text-muted">
            <input ng-model="age" ng-mouseleave="checkage(age)" required type="number" class="ng-valid ng-touched ng-dirty" style="width:100%; border-bottom:ridge" />
          </div>
        </div>
      </div>
      <div class="item" horizontal layout center>
        <div class="row no-padder">
          <div class="col-40">
            Telefone
          </div>
          <div class="col-60 text-right text-muted">
            <input ng-model="tel" ng-change="checktel(tel)" required type="tel" maxlength="11" class="ng-valid ng-touched ng-dirty" style="width:100%; border-bottom:ridge" />
          </div>
        </div>
      </div>
      <div class="item b-t" horizontal layout center>
        <div class="row no-padder">
          <div class="col-40">
            Mostre-me
          </div>
          <div class="col-60 text-right text-muted">
            <ion-toggle ng-model="showme" ng-change="updhttpconf('showme', showme)"></ion-toggle>
          </div>
        </div>
      </div>
      <div class="item b-t" horizontal layout center>
        <div class="row no-padder">
          <div class="col-40">
            Revelar Idade
          </div>
          <div class="col-60 text-right text-muted">
            <ion-toggle ng-model="showmyage" ng-change="updhttpconf('showmyage', showmyage)"></ion-toggle>
          </div>
        </div>
      </div>
    </div>
    <!-- /Profile -->
    <div class="list m-n">
      <div class="item item-divider b-none"></div>
      <div class="item item-divider b-none text-u-c text-muted text-sm">Notificações</div>
      <div class="item b-t" horizontal layout center>
        <div class="row no-padder">
          <div class="col-40">
            Novos Matches
          </div>
          <div class="col-60 text-right text-muted">
            <ion-toggle ng-model="newmatches" ng-change="SaveConfiguration('newmatches', newmatches)"></ion-toggle>
          </div>
        </div>
      </div>
      <div class="item b-t" horizontal layout center>
        <div class="row no-padder">
          <div class="col-40">
            Mensagens
          </div>
          <div class="col-60 text-right text-muted">
            <ion-toggle ng-model="message" ng-change="SaveConfiguration('message', message)"></ion-toggle>
          </div>
        </div>
      </div>
      <div class="item b-t" horizontal layout center>
        <div class="row no-padder">
          <div class="col-40">
            Drinks
          </div>
          <div class="col-60 text-right text-muted">
            <ion-toggle ng-model="drinks" ng-change="SaveConfiguration('drinks', drinks)"></ion-toggle>
          </div>
        </div>
      </div>
      <div class="item b-t" horizontal layout center>
        <div class="row no-padder">
          <div class="col-40">
            Email
          </div>
          <div class="col-60 text-right text-muted">
            <ion-toggle ng-model="notifmail" ng-change="SaveConfiguration('notifmail', notifmail)"></ion-toggle>
          </div>
        </div>
      </div>
      <div class="item b-t" horizontal layout center>
        <div class="row no-padder">
          <div class="col-40">
            Push
          </div>
          <div class="col-60 text-right text-muted">
            <ion-toggle ng-model="notifpush" ng-change="SaveConfiguration('notifpush', notifpush)"></ion-toggle>
          </div>
        </div>
      </div>
    </div>

    <div class="list m-n">
      <div class="item item-divider b-none"></div>
      <div class="item item-divider b-none text-u-c text-muted text-sm">Termos</div>
      <div class="item" ng-click="terms()">
        Termos de Uso
        <span class="item-note">
          <i class="icon ion-chevron-right"></i>
        </span>
      </div>
      <div class="item" ng-click="terms()">
        Política de Privacidade
        <span class="item-note">
          <i class="icon ion-chevron-right"></i>
        </span>
      </div>
    </div>
    <div class="list m-n">
      <div class="item item-divider b-none"></div>
      <div class="item item-divider b-none text-u-c text-muted text-sm">Contato</div>
      <div class="item text-center" ng-click="suport()">
        Ajuda e Suporte
      </div>
      <div class="item text-center" ng-click="goto('www.google.com')">
        Avaliar o App
      </div>
    </div>
    <div class="list m-n">
      <div class="item item-divider b-none"></div>
      <div class="item item-divider b-none text-u-c text-muted text-sm">Acesso</div>
      <div class="item text-center" ng-click="logout()">
        Logout
      </div>
    </div>
    <div class="item text-center" ng-click="deleteacc()">
      Excluir Conta
    </div>
    <div class="item item-divider b-none"></div>
  </ion-content>
</ion-modal-view>
