<ion-modal-view>
  <!-- Ion Header -->
  <ion-header-bar>
    <h1 class="title">Cadastro</h1>
    <button class="button button-clear button-assertive" ng-click="closeSignupModal()">Sair</button>
  </ion-header-bar>
  <!-- /Ion Header -->
  
  <!-- Ion Content -->
  <ion-content ng-controller="SignupCtrl">
    <div class="list m-n">
      <!-- Name -->
      <div class="item" horizontal layout center>
        <div class="row no-padder">
          <div class="col-40">
            Nome
          </div>
          <div class="col-60 text-right text-muted">
            <input ng-model="name" maxlength="20" autofocus type="text" placeholder="Nome" class="ng-valid ng-touched ng-dirty" style="width:100%; border-bottom:ridge" />
          </div>
        </div>
      </div>
      <!-- /Name -->
      <!-- LastName -->
      <div class="item item-divider b-none"></div>
      <div class="item" horizontal layout center>
        <div class="row no-padder">
          <div class="col-40">
            Sobrenome
          </div>
          <div class="col-60 text-right text-muted">
            <input ng-model="lastname" maxlength="20" type="text" placeholder="Sobrenome" class="ng-valid ng-touched ng-dirty" style="width:100%; border-bottom:ridge" value="" />
          </div>
        </div>
      </div>
      <!-- /LastName -->
      <!-- Phone -->
      <div class="item item-divider b-none"></div>
      <div class="item" horizontal layout center>
        <div class="row no-padder">
          <div class="col-40">
            Telefone
          </div>
          <div class="col-60 text-right text-muted">
            <input ng-model="tel" ng-change="checktel(tel)" required type="tel" maxlength="11" class="ng-valid ng-touched ng-dirty" style="width:100%; border-bottom:ridge" />
          </div>
        </div>
      </div>
      <!-- /Phone -->
      <!-- Age -->
      <div class="item item-divider b-none"></div>
      <div class="item" horizontal layout center>
        <div class="row no-padder">
          <div class="col-40">
            Minha Idade
          </div>
          <div class="col-60 text-right text-muted">
            <input ng-model="age" ng-mouseleave="checkage(age)" required type="number" class="ng-valid ng-touched ng-dirty" style="width:100%; border-bottom:ridge" />
          </div>
        </div>
      </div>
      <!-- /Age -->
      <!-- Email -->
      <div class="item item-divider b-none"></div>
      <div class="item" horizontal layout center>
        <div class="row no-padder">
          <div class="col-40">
            E-mail
          </div>
          <div class="col-60 text-right text-muted">
            <input ng-model="email" ng-mouseleave="checkemail(email)" required type="text" class="ng-valid ng-touched ng-dirty" style="width:100%; border-bottom:ridge" />
          </div>
        </div>
      </div>
      <!-- /Email -->
      <!-- My Gender -->
      <div class="item item-divider b-none"></div>
      <div class="item" horizontal layout center>
        <div class="row no-padder">
          <div class="col-40">
            Sou
          </div>
          <div class="col-60 text-right text-muted">
            <ion-toggle ng-repeat="item in GenderList"
                        ng-model="item.checked"
                        ng-checked="item.checked" ng-change="GenderChange(item)" color="danger">
              {{ item.text }}
            </ion-toggle>
          </div>
        </div>
      </div>
      <!-- /My Gender -->
      <!-- Gender -->
      <div class="item item-divider b-none"></div>
      <div class="item" horizontal layout center>
        <div class="row no-padder">
          <div class="col-40">
            <ion-label>Busco</ion-label>
          </div>
          <div class="col-60 text-right text-muted item-select">
            <ion-toggle ng-model="choicewoman" ng-checked="false">Mulher</ion-toggle>
            <ion-toggle ng-model="choiceman" ng-checked="false">Homem</ion-toggle>
          </div>
        </div>
      </div>
      <!-- /Gender -->
      <!-- Range Age -->
      <div class="item item-divider b-none"></div>
      <div class="item" horizontal layout center>
        <div class="row no-padder">
          <div class="col-40">
            <ion-label>Idade</ion-label>
          </div>
          <div class="col-60 text-right text-muted range">
            <ion-label style="width: 0;margin-left: -10px;">{{barProgressMin}}</ion-label>
            <input type="range" on-drag="onMin($event)" ng-model="barProgressMin" min="18" max="122" style="position:absolute" />
            <input type="range" on-drag="onMax($event)" ng-model="barProgressMax" min="18" max="122" style="position:absolute" />
            <ion-label style="width: 100%;">{{barProgressMax}}</ion-label>
          </div>
        </div>
      </div>
      <!-- /Range Age -->
      <!-- Password -->
      <div class="item item-divider b-none"></div>
      <div class="item" horizontal layout center>
        <div class="row no-padder">
          <div class="col-40">
            Senha
          </div>
          <div class="col-60 text-right text-muted">
            <input ng-model="pass" maxlength="10" required type="password" class="ng-valid ng-touched ng-dirty" style="width:100%; border-bottom:ridge" />
          </div>
        </div>
      </div>
      <!-- /Password -->
      <!-- Confirm Password -->
      <div class="item item-divider b-none"></div>
      <div class="item" horizontal layout center>
        <div class="row no-padder">
          <div class="col-40">
            Confirmar Senha
          </div>
          <div class="col-60 text-right text-muted">
            <input ng-model="cpass" maxlength="10" ng-mouseleave="checkpass(cpass)" required type="password" class="ng-valid ng-touched ng-dirty" style="width:100%; border-bottom:ridge" />
          </div>
        </div>
      </div>
      <!-- /Confirm Password -->
      <!-- Signup Button -->
      <div class="item item-divider b-none"></div>
      <div class="list m-n" ng-click="confirmSignup()">
        <div class="item text-center" style="background-color:rgb(16, 220, 96); color:white;">
          Cadastrar
        </div>
      </div><!-- /Signup Button -->
      <!-- Terms and Services -->
      <div class="text-center text-muted">
        Ao Cadastrar você concorda com nossos <span class="font-bold" ng-click="goto(terms_url)">Termos de Serviço</span> e <span class="font-bold" ng-click="goto(priv_url)">Politica de Privacidade</span>.
      </div>
      <!-- /Terms and Services -->

    </div>
    <!-- /List -->
  </ion-content>
  <!-- Ion Content -->
</ion-modal-view>
