<ion-modal-view class="bg-match color-white">
  <ion-content class="text-center" scroll="false" vertical layout justified>
    <div class="wrapper">
      <div class="wrapper">{{supermatchcard.name}} ofereceu um drink!</div>
      <div class="img-full img rounded">
        <img src="img/aceita.png" class="thumb img rounded" alt="">
        <img src="img/beer.png" class="thumb img rounded beer" alt="">
      </div>
    </div>
    <div class="wrapper">
      <div class="wrapper">
        <button class="button button-block b-none rounded bg-colorful" ng-click="closeSuperMatchModal()" ui-sref="home.messaging({id: supermatchcard.id, isNew: true, Message: done_beer})">
          <i class="icon ion-beer"></i>
          SIM
        </button>
        <button class="button button-block b-none rounded" ng-click="closeSuperMatchModal()">
          NÃO
        </button>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
