<ion-view>
  <div class="wrapper" fit vertical layout justified>
    <ion-slide-box on-slide-changed="slideHasChanged($index)" active-slide="activeIndex" ng-init="activeIndex = 0" class="m-t">
      <ion-slide class="text-center flex-vertical-center" ng-repeat="i in [1,2,3,4]">
        <img class="w-full" ng-src="img/intro_{{i}}.png" alt="">
      </ion-slide>
    </ion-slide-box>  

    <div class="text-center text-muted">
      Para ver nossos <span class="font-bold" ng-click="terms()">Termos de Serviço</span> e <span class="font-bold" ng-click="terms()">Politica de Privacidade.</span> acesse nosso site.
      <!-- <button class="button button-block button-positive" ng-click="loginf()">Entrar com Facebook</button>
      <div>
        Não postaremos no Facebook.
      </div>-->
      <button class="button button-block button-assertive" ng-click="openLoginFormModal()">Entrar com Email</button>
      <div>
        <span class="font-bold" ng-click="openSignupModal()">Cadastrar com Email.</span>
      </div>
    </div>
  </div>
</ion-view>
